<!-- Source: http://sage100contractorhelp.sagecre.com/help/sage100contractor/US/20_5/Content/Modules/4-Accounts_Payable/Setting_up_WIP_verification.htm (Sage 100 Contractor help v20.5) -->

### Setting up WIP verification

WIP verification can be turned on or off for each transaction that has job costs associated with it.

Important! If you have turned on the **WIP Verification** for job costs, and are posting job costs to a job that is marked **Post expenses to WIP asset account**, you cannot post to a direct expense account. A message appears: **WIP Posting is not = to job costs**. You must correct your posting before you can save.

#### To set up WIP verification:

|  | 1 | Open the transaction that has job costs on it. |
|---|---|---|

|  | 2 | For example, from **4-2 Payable Invoices/Credits**, open a transaction. |
|---|---|---|

|  | 3 | From the main menu, click **Costs**, then click **Job Costs**. |
|---|---|---|

|  | 4 | From the **Job Costs** window menu, click **Options**. |
|---|---|---|

|  | 5 | From the **Options** menu, click **WIP Verification**. |
|---|---|---|

|  | 6 | Click **Options** again to verify that there is a check mark in front of the **WIP verification**. |
|---|---|---|

| Links to more information . . . [Work in progress accounting](Work_in_progress_accounting.md) [About percentage complete accounting](About_percentage_complete_accounting.md) |
|---|
